
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<h3>A text was successfully send to let the players know the line up is done!</h3>

<a href="/Players/Home" class="Button">Back to Home</a>
