
@{
    ViewBag.Title = "EnterStats";
}

<h2>EnterStats</h2>

<div class="col-md-3">
    <input type="button" value="Offense Stats" onclick="location.href='@Url.Action("Create", "SubmitOffenses")'" class="btn btn-default" />
</div>

<div class="col-md-3">
    <input type="button" value="Defense Stats" onclick="location.href='@Url.Action("Create", "SubmitDefenses")'" class="btn btn-default" />
</div>
