@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Registering Players</h2>
        <p>Click the btton to register all of your players</p>
        <input type="button" value="Register Players" onclick="location.href='@Url.Action("Create", "Players", new { id = Model.Id })'" class="btn btn-default" />
    </div>
    <div class="col-md-3">
        <h2>Playing Games</h2>
        <p>Click Here to play the game that is coming up</p>
        <input type="button" value="Play Game" onclick="location.href='@Url.Action("Create", "Offense", new { id = Model.Id })'" class="btn btn-default" />
    </div>
    <div class="col-md-3">
        <h2></h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <input type="button" value="Schedule Events" onclick="location.href='@Url.Action("Create", "Event", new { id = Model.Id })'" class="btn btn-default" />
    </div>
    <div class="col-md-3">
        <h2></h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <input type="button" value="Schedule Events" onclick="location.href='@Url.Action("Create", "LineUps", new { id = Model.Id })'" class="btn btn-default" />
    </div>
</div>