@model IEnumerable<CAPSTONE.Models.OffenseStats>
@{
    ViewBag.Title = "Bar";
}


    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Line Chart</title>
    <div id="chartContainer"></div>

    <script type="text/javascript">
        window.onload = function () {
            var result = @Html.Raw(Json.Encode(Model));
            var dataPoints = [];
            for (let i = 0; i < result.length; i++) {
                dataPoints.push({ label: result[i].Player.FirstName, y: result[i].BA });
            }
                var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Line Chart in ASP.Net MVC using CanvasJS"
                },
                subtitles: [
                    {
                    text: "Try Resizing the Browser"
                    }
                ],
                data: [
                {
                    type: "column",
                    dataPoints: [
                        dataPoints,
                ],
            }
            ]

        });
            chart.render();
        };

;
    </script>

                        @*{ label: 10, y: 71 },
                        { label: 20, y: 55 },
                        { label: 30, y: 50 },
                        { label: 40, y: 65 },
                        { label: 50, y: 95 },
                        { label: 60, y: 68 },
                        { label: 70, y: 28 },
                        { label: 80, y: 34 },
                        { label: 90, y: 14 },
                        { label: 100, y: 33 },
                        { label: 110, y: 42 },
                        { label: 120, y: 62 },*@