@model IEnumerable<CAPSTONE.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<head>
    <style>
        #map {
            height: 400px;
            width: 1000px;
        }
    </style>
</head>
<p>
    @Html.ActionLink("Get more directions", "Create")
</p>

<div id="map"></div>
<script>
    function initMap() {
        //try{
        var user = @Html.Raw(Json.Encode(Model));
        var pointA = new google.maps.LatLng(user[user.length - 1]['Latitude'], user[user.length - 1]['Longitude']);
        pointB = new google.maps.LatLng(user[user.length - 1]['Latitude2'], user[user.length - 1]['Longitude2']);
        myOptions = {
            zoom: 7,
            center: pointA
        },
        map = new google.maps.Map(document.getElementById('map'), myOptions),
        // Instantiate a directions service.
        directionsService = new google.maps.DirectionsService,
        directionsDisplay = new google.maps.DirectionsRenderer({
            map: map
        }),
        markerA = new google.maps.Marker({
            position: pointA,
            title: "point A",
            label: "A",
            map: map
        }),
        markerB = new google.maps.Marker({
            position: pointB,
            title: "point B",
            label: "B",
            map: map
        });

         
        calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);
           
            //catch(Exception){
            //        alert('Failed');
            //    }
        //}
    }
    function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
        directionsService.route({
            origin: pointA,
            destination: pointB,
            avoidTolls: true,
            avoidHighways: false,
            travelMode: google.maps.TravelMode.DRIVING
        }, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            } else {
                alert('Directions request failed due to ' + status);
            }
        });
    }

    initMap();


</script>
@*<script type="text/javascript" src="AIzaSyCnjZExxF6uCz-ynsgHHKtJjJlhx8x3Bt8">
    </script>*@

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnjZExxF6uCz-ynsgHHKtJjJlhx8x3Bt8&callback=initMap">
</script>

